.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.board__item {
  display: flex;
  box-sizing: border-box;
  padding: 0.5em 0 0.5em;
}
